body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
}

#login-form{
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.error{
    color: red;
}